<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/index.css">
  <script src="/js/home/submit.js" defer></script>
  <title>연희 순결고사</title>
</head>
<body>
  <header>
    <h1>The Yeonhui Purity Test</h1>
    <h3>연희 순결고사</h3>
    <p>경험한 모든 항목들을 선택하시면 순결 점수와 백분율을 알려드립니다</p>
    <p>(주의!) 멘탈이 약하신 분들은 시도하지 말세요</p>
  </header>
  <div class="back-page">
    <div class="form">
      <div class="checkboxes">
        <ol>
          <li>
            <input type="checkbox" id="1">
            <label for="1">로맨틱하게 손을 잡아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="2">
            <label for="2">데이트 경험이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="3">
            <label for="3">썸 경험이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="4">
            <label for="4">연애 경험이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="5">
            <label for="5">배가 닿아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="6">
            <label for="6">뽀뽀해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="7">
            <label for="7">키스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="8">
            <label for="8">프렌치 키스를 했다</label>
          </li>
          <li>
            <input type="checkbox" id="9">
            <label for="9">공공장소에서 키스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="10">
            <label for="10">목에 키스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="11">
            <label for="11">누워서 키스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="12">
            <label for="12">히키를 하거나 받아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="13">
            <label for="13">가슴에 키스를 하거나 받아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="14">
            <label for="14">허리 밑에 키스에 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="15">
            <label for="15">두 시간 이상 키스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="16">
            <label for="16">옷을 벗어야 하는 게임을 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="17">
            <label for="17">다른 사람이 성적 행위를 하는 것을 보았다</label>
          </li>
          <li>
            <input type="checkbox" id="18">
            <label for="18">자위한 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="19">
            <label for="19">사진이나 비디오를 보면서 자위해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="20">
            <label for="20">타인과 한 방에서 자위해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="21">
            <label for="21">자위하는 것을 들켜 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="22">
            <label for="22">물체로 자위해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="23">
            <label for="23">외설적인 매체를 본 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="24">
            <label for="24">성적으로 마사지를 받은 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="25">
            <label for="25">옷 입은 채로 성교를 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="26">
            <label for="26">벗기거나 벗김 당한 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="27">
            <label for="27">같이 샤워한 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="28">
            <label for="28">엉덩이를 애무받거나 해준 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="29">
            <label for="29">가슴을 애무받거나 해준 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="30">
            <label for="30">엉덩이를 애무받거나 해준 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="31">
            <label for="31">성기를 애무받거나 해준 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="32">
            <label for="32">흥분 시키거나 당한 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="33">
            <label for="33">오르가즘을 주거나 받은 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="34">
            <label for="34">성적인 메시지를 주고받은 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="35">
            <label for="35">성적인 사진을 주고받은 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="36">
            <label for="36">성적인 영상을 찍은 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="37">
            <label for="37">바람 피운 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="38">
            <label for="38">피임약을 사용해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="39">
            <label for="39">입으로 성교를 해주거나 받아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="40">
            <label for="40">마주보며 자위를 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="41">
            <label for="41">타인의 성적 분비물을 삼켜 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="42">
            <label for="42">타인과 기구를 써 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="43">
            <label for="43">타인과 같이 밤을 보내 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="44">
            <label for="44">성교할 때 타인이 들어온 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="45">
            <label for="45">성교를 위해 룸메를 쫓아내본 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="46">
            <label for="46">술을 마셔 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="47">
            <label for="47">술게임을 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="48">
            <label for="48">취한 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="49">
            <label for="49">부모님에게 안 취한 척 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="50">
            <label for="50">취해서 기억을 잃어 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="51">
            <label for="51">담배를 펴 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="52">
            <label for="52">대마를 사용해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="53">
            <label for="53">대마보다 강한 약을 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="54">
            <label for="54">교장, 교수님과 같은 이들에게 혼나 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="55">
            <label for="55">정학 혹은 퇴학을 당해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="56">
            <label for="56">노상방뇨를 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="57">
            <label for="57">옷을 벗고 수영해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="58">
            <label for="58">경찰에게 전화를 받아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="59">
            <label for="59">경찰에게서 도망친 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="60">
            <label for="60">경찰이 수갑을 채운 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="61">
            <label for="61">체포된 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="62">
            <label for="62">전과자다</label>
          </li>
          <li>
            <input type="checkbox" id="63">
            <label for="63">강력 범죄를 저지른 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="64">
            <label for="64">성교를 해본 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="65">
            <label for="65">하루 밤에 세번 이상 성교를 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="66">
            <label for="66">10번 이상 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="67">
            <label for="67">4개 이상의 체위로 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="68">
            <label for="68">만난지 24시간이 안 된 사람과 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="69">
            <label for="69">차 안에서 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="70">
            <label for="70">야외에서 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="71">
            <label for="71">공공장소에서 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="72">
            <label for="72">욕조 또는 수영장에서 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="73">
            <label for="73">부모님이 계신데 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="74">
            <label for="74">다른이가 지켜보는데 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="75">
            <label for="75">비행기에서 섹스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="76">
            <label for="76">성교를 위해 100km 이상 이동해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="77">
            <label for="77">5살 이상 차이나는 상대와 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="78">
            <label for="78">처녀와 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="79">
            <label for="79">노콘 섹스해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="80">
            <label for="80">성병에 걸려본 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="81">
            <label for="81">쓰리썸?</label>
          </li>
          <li>
            <input type="checkbox" id="82">
            <label for="82">난교?</label>
          </li>
          <li>
            <input type="checkbox" id="83">
            <label for="83">24시간 이내에 두 명 이상의 사람과 성교?</label>
          </li>
          <li>
            <input type="checkbox" id="84">
            <label for="84">5명 이상과 성교?</label>
          </li>
          <li>
            <input type="checkbox" id="85">
            <label for="85">15명 이상과 성교?</label>
          </li>
          <li>
            <input type="checkbox" id="86">
            <label for="86">성교하는 영상을 찍어 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="87">
            <label for="87">생리 중에 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="88">
            <label for="88">애널 섹스를 해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="89">
            <label for="89">임신을 의심해 본 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="90">
            <label for="90">임신하거나 임신시켜 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="91">
            <label for="91">돈을 주거나 받고 성교를 해봤다</label>
          </li>
          <li>
            <input type="checkbox" id="92">
            <label for="92">수간?</label>
          </li>
          <li>
            <input type="checkbox" id="93">
            <label for="93">근친상간?</label>
          </li>
          <li>
            <input type="checkbox" id="94">
            <label for="94">강제로 하거나 당해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="95">
            <label for="95">파트너를 때리거나 맞아 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="96">
            <label for="96">다른 인종과 성교해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="97">
            <label for="97">파트너를 여러 명 둔 적이 있다</label>
          </li>
          <li>
            <input type="checkbox" id="98">
            <label for="98">성교를 강제한 사람을 좋아해 봤다</label>
          </li>
          <li>
            <input type="checkbox" id="99">
            <label for="99">연인을 두고 다른 이를 상상하며 자위했다</label>
          </li>
          <li>
            <input type="checkbox" id="100">
            <label for="100">연인이 있지만 파트너와 여전히 연락한다</label>
          </li>
        </ol>
        <button>순결도 분석</button>
    </div>
    </div>
  </div>
</body>
</html>