<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/index.css">
  <script src="/js/home/result.js" defer></script>
  <title>연희 순결고사</title>
</head>
<body>
  <header>
    <h1>The Yeonhui Purity Test</h1>
    <h3>연희 순결고사</h3>
    <p>결과는 아래와 같습니다!</p>
  </header>
  <div class="back-page">
    <div class="form">
      <span id="score"></span>
      <button>시험 화면으로 돌아가기</button>
    </div>
  </div>
</body>
</html>